[Desktop Entry]
X-SnapInstanceName=visualg
Type=Application
Name=VisualG
Comment=Português Estruturado (Portugol)
Icon=/snap/visualg/22/visualg.png
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/visualg_visualg.desktop /snap/bin/visualg
Terminal=false
Categories=Education;Utility;TextEditor
